/*******************************
    Variables
********************************/
/*******************************
    Global
********************************/
* {
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  background-image: -webkit-radial-gradient(top left, #151515, #2d2d2d);
  background-image: radial-gradient(at top left, #151515, #2d2d2d);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #a2a2a2;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
}

img {
  max-width: 100%;
  object-fit: cover;
}

nav {
  position: fixed;
  top: 15px;
  left: 15px;
  background-image: -webkit-radial-gradient(top left, #222, #2d2d2d);
  background-image: radial-gradient(at top left, #222, #2d2d2d);
  box-shadow: 1px 1px 4px #0f0f0f;
  padding: 15px;
  border-radius: 15px;
  z-index: 10;
}
@media only screen and (min-width: 580px) {
  nav {
    top: 30px;
    left: 30px;
  }
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  text-align: center;
  grid-gap: 15px;
}
nav ul li a {
  color: #a2a2a2;
}
nav ul li a:hover {
  color: #e1e1e1;
}

section {
  background-image: -webkit-radial-gradient(top left, #2d2d2d, #3e3e3e);
  background-image: radial-gradient(at top left, #2d2d2d, #3e3e3e);
  box-shadow: 1px 1px 4px #0f0f0f;
  padding: 60px;
  border-radius: 15px;
  margin: 40px;
}
@media only screen and (min-width: 580px) {
  section {
    margin: 60px;
  }
}

.splide button:disabled {
  display: none;
}
.splide__track {
  height: 100%;
}
.splide__arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
}
.splide__arrow {
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
}
.splide__arrow--prev {
  left: 0;
  transform: translateX(-50%) translateY(-50%);
}
.splide__arrow--prev i {
  right: 1px;
}
.splide__arrow--next {
  right: 0;
  transform: translateX(50%) translateY(-50%);
}
.splide__arrow--next i {
  left: 1px;
}

.credit {
  margin-top: 60px;
  text-align: right;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.credit a {
  color: #a2a2a2;
}

.btn {
  background: radial-gradient(at top left, #313131, #222);
  padding: 8px 15px;
  border-radius: 5px;
  color: #e1e1e1;
  font-size: 0.7em;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
}

.tab-label {
  padding: 5px;
  border-radius: 5px;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  width: 28px;
  height: 28px;
  background: transparent;
  border: none;
  color: #a2a2a2;
  font-size: 1em;
}
.tab-label:not(.active) {
  cursor: pointer;
}
.tab-label.active {
  background-image: -webkit-radial-gradient(top left, #c4c4c4, #e1e1e1);
  background-image: radial-gradient(at top left, #c4c4c4, #e1e1e1);
  color: #222;
}

.tab-content {
  display: none;
  padding: 15px 55px 15px 65px;
}
@media only screen and (min-width: 580px) {
  .tab-content {
    padding: 30px 70px 30px 70px;
  }
}
.tab-content.active {
  display: block;
}
.tab-content h1 {
  font-family: "Averia Serif Libre", serif;
  font-size: 60px;
  text-align: center;
  color: #e1e1e1;
  line-height: 1em;
  margin: 30px 0 0 0;
}
.tab-content h2 {
  display: grid;
  grid-template-columns: 60px max-content 60px;
  align-items: center;
  grid-gap: 15px;
  font-family: "Averia Serif Libre", serif;
  color: #e1e1e1;
  letter-spacing: 2px;
  font-size: 20px;
  margin: 0 0 30px 0;
}
.tab-content h2:first-child {
  margin-top: 30px;
}
.tab-content h2:before, .tab-content h2:after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background: #6f6f6f;
}
.tab-content .overview {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 2.5px;
  color: #e1e1e1;
  margin: 15px 0 60px;
}
.tab-content .overview-img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 30px auto 0;
}
.tab-content .overview b {
  font-weight: 500;
}
.tab-content .overview a {
  color: #e1e1e1;
  background: radial-gradient(at top left, #313131, #222);
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 1em;
}
.tab-content .overview ~ p {
  font-size: 14px;
  line-height: 200%;
  text-align: justify;
  max-width: 400px;
  margin: 0 auto 30px;
}
.tab-content .challenge-box {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 30px;
}
.tab-content .challenge-box .deets {
  display: grid;
  grid-gap: 15px;
}
.tab-content .challenge-box .deets ul {
  background-image: -webkit-radial-gradient(top left, #606060, #939393);
  background-image: radial-gradient(at top left, #606060, #939393);
  border-radius: 10px;
  padding: 15px;
  margin: 0;
  list-style-type: none;
  line-height: 200%;
  font-size: 0.85em;
  letter-spacing: 1px;
  color: #222;
}
.tab-content .challenge-box .deets ul > b {
  display: grid;
  grid-template-columns: 30px max-content 30px;
  grid-gap: 7px;
  color: #222;
  font-family: "Averia Serif Libre", serif;
  font-size: 14px;
  align-items: center;
}
.tab-content .challenge-box .deets ul > b:before, .tab-content .challenge-box .deets ul > b:after {
  content: "";
  height: 1px;
  width: 30px;
  background: #424242;
}
.tab-content .challenge-box .deets ul.inspo {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  line-height: 100%;
}
.tab-content .challenge-box .deets ul.inspo a {
  display: inline-block;
}
.tab-content .challenge-box .deets ul.inspo > b {
  flex-basis: 100%;
  margin-bottom: 7px;
}
.tab-content .challenge-box .deets ul.req li, .tab-content .challenge-box .deets ul.bonus li {
  display: grid;
  grid-template-columns: 9px auto;
  grid-gap: 7px;
}
.tab-content .challenge-box .deets ul.req li:before, .tab-content .challenge-box .deets ul.bonus li:before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  bottom: -4px;
  background: #91b52f;
  border: 1px solid #566f14;
  position: relative;
}
.tab-content .challenge-box .deets ul.req li:not(.complete) span, .tab-content .challenge-box .deets ul.bonus li:not(.complete) span {
  opacity: 0.5;
}
.tab-content .challenge-box .deets ul.req li:not(.complete):before, .tab-content .challenge-box .deets ul.bonus li:not(.complete):before {
  border-color: #646464;
  background: #919191;
}
.tab-content .challenge-box .result {
  background-image: -webkit-radial-gradient(top left, #606060, #939393);
  background-image: radial-gradient(at top left, #606060, #939393);
  border-radius: 15px;
  padding: 15px 15px 65px 15px;
  color: #0b0b0b;
}
@media only screen and (min-width: 580px) {
  .tab-content .challenge-box .result {
    padding: 30px 30px 80px 30px;
  }
}
.tab-content .challenge-box .result p {
  font-size: 16px;
  line-height: 200%;
  margin: 0 0 30px 0;
}
.tab-content .challenge-box .result p:last-child {
  margin-bottom: 0;
}
.tab-content .challenge-box .result .viewLink {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: radial-gradient(at top left, #3e3e3e, #262626);
  text-transform: uppercase;
}
.tab-content .challenge-box .result .image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-gap: 15px;
}
.tab-content .challenge-box .result .image-grid a {
  width: 100%;
  height: 0;
  padding-top: 100%;
}
.tab-content .challenge-box .result .image-grid a img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.sl-wrapper + .sl-overlay {
  background: #000 !important;
}
.sl-wrapper .sl-close,
.sl-wrapper .sl-navigation button,
.sl-wrapper .sl-counter {
  color: #a2a2a2 !important;
}

/*******************************
    Challenge#006
********************************/
body#c6.idx h1 {
  font-size: 100px;
}
body#c6 .splide {
  height: 200px;
}
body#c6 .splide__arrow {
  top: 100px;
  background: radial-gradient(at top left, #d1d1d1, #b2b2b2);
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  align-items: center;
  text-align: center;
  justify-items: center;
  box-shadow: 1px 1px 4px #0f0f0f;
}
body#c6 .splide button:not(:disabled) {
  display: grid;
}
body#c6 .splide__slide {
  background-image: -webkit-radial-gradient(top left, #606060, #939393);
  background-image: radial-gradient(at top left, #606060, #939393);
  border-radius: 10px;
  padding: 30px;
  color: #222;
  text-transform: uppercase;
  line-height: 100%;
  display: flex;
  align-items: center;
}
body#c6 .splide__slide .slide__content {
  width: 100%;
}
body#c6 .splide__slide .viewLink {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background: radial-gradient(at top left, #3e3e3e, #262626);
}
body#c6 .splide__slide h3 {
  margin: 0 0 15px 0;
  font-size: 2.7em;
  font-family: "Averia Serif Libre", serif;
  text-transform: none;
  font-weight: 700;
  line-height: 1em;
}
body#c6 .splide__slide .challenge-stats {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
body#c6 .splide__slide span {
  margin: 0;
  font-size: 0.7em;
  letter-spacing: 1px;
  font-weight: 600;
}
body#c6 .splide__slide.inc {
  opacity: 0.3;
}
body#c6 .splide__slide .complete {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #646464;
  background: #919191;
  bottom: -1px;
  margin-left: 5px;
}
body#c6 .splide__slide.com .complete {
  background: #91b52f;
  border-color: #566f14;
}
body#c6 .splide__slide .type:empty,
body#c6 .splide__slide .series:empty {
  display: none;
}
body#c6 .splide__slide.s-low .spec:after, body#c6 .splide__slide.d-low .diff:after {
  content: "L";
}
body#c6 .splide__slide.s-med .spec:after, body#c6 .splide__slide.d-med .diff:after {
  content: "M";
}
body#c6 .splide__slide.s-high .spec:after, body#c6 .splide__slide.d-high .diff:after {
  content: "H";
}
body#c6 .slider-block {
  margin-bottom: 30px;
}
body#c6 .slider-block:not(:last-child) {
  margin-bottom: 60px;
}

/*# sourceMappingURL=styles.css.map */
