/*******************************
    Challenge#006
********************************/
body#c6 {
    &.idx h1 {
        font-size: 100px;
    }

    .splide {
        height: 200px;
    
        &__arrow {
            top: 100px;
            background: radial-gradient(at top left, #d1d1d1, #b2b2b2);
            border: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 20px;
            align-items: center;
            text-align: center;
            justify-items: center;
            box-shadow: 1px 1px 4px #0f0f0f;
        }
    
        button:not(:disabled) {
            display: grid;
        }
    
        &__slide {
            background-image: -webkit-radial-gradient(top left, #606060, #939393);
            background-image: radial-gradient(at top left, #606060, #939393);
            border-radius: 10px;
            padding: 30px;
            color: #222;
            text-transform: uppercase;
            line-height: 100%;
            display: flex;
            align-items: center;
    
            .slide__content {
                width: 100%;
            }
    
            .viewLink {
                position: absolute;
                bottom: 30px;
                right: 30px;
                background: radial-gradient(at top left, #3e3e3e, #262626);
            }
    
            h3 {
                margin: 0 0 15px 0;
                font-size: 2.7em;
                font-family: 'Averia Serif Libre', serif;
                text-transform: none;
                font-weight: 700;
                line-height: 1em;
            }
    
            .challenge-stats {
                display: flex;
                gap: 15px;
                flex-wrap: wrap;
            }
    
            span {
                margin: 0;
                font-size: 0.7em;
                letter-spacing: 1px;
                font-weight: 600;
            }
    
            &.inc {
                opacity: 0.3;
            }
    
            .complete {
                display: inline-block;
                width: 9px;
                height: 9px;
                border-radius: 50%;
                border: 1px solid #646464;
                background: #919191;
                bottom: -1px;
                margin-left: 5px;
            }
    
            &.com .complete {
                background: #91b52f;
                border-color: #566f14;
            }
    
            .type:empty,
            .series:empty {
                display: none;
            }
    
            &.s-low .spec:after,
            &.d-low .diff:after {
                content: 'L';
            }
    
            &.s-med .spec:after,
            &.d-med .diff:after {
                content: 'M';
            }
    
            &.s-high .spec:after,
            &.d-high .diff:after {
                content: 'H';
            }
        }
    }
    
    .slider-block {
        margin-bottom: 30px;
    
        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
}