/*******************************
    Challenge#006
********************************/
body#challenge006 {

    .tab-label {
        &.active {
            color: red;
        }
    }
    .tab-content {
        display: none;
        &.active { 
            display: initial;
        }
    }

}