/*******************************
    Challenge#006
********************************/
body#challenge006 {

    .tab-label {
        padding: 5px;
        border-radius: 5px;
        display: grid;
        align-items: center;
        justify-items: center;
        text-align: center;
        width: 28px;
        height: 28px;
        background: transparent;
        border: none;
        color: #a2a2a2;
        font-size: 1em;

        &.active {
            background-image: -webkit-radial-gradient(top left, #c4c4c4, #e1e1e1);
            background-image: radial-gradient(at top left, #c4c4c4, #e1e1e1);
            color: #222;
        }
    }
    .tab-content {
        display: none;
        &.active { 
            display: block;
        }
    }

    .splide {
        height: 200px;

        &__arrow {
            top: 100px;
        }
    }

}